CLIENT_ID=seu_client_id
CLIENT_SECRET=seu_client_secret
TOKEN=seu_token
REFRESH_TOKEN=seu_refresh_token
BROADCASTER_ID=seu_broadcaster_id
CHANNEL=nome_do_canal
DATA_DIR=data
OVERLAY_PORT=8901
# Opcionais: pasta dos áudios do !p (subpastas com o preço em pontos) e volume (0.0 a 1.0)
AUDIO_DIR=audios
AUDIO_VOLUME=1.0
